@inject NavigationManager Navigation

<div class="card p-3 h-100 rounded-4 d-flex justify-content-between flex-column">
    
    <div class="row">
        <p class="h5">Datos extraidos</p> 
        <div class="col-4 mt-3">
            <label for="TipoDocumento" class="form-label">Tipo de Documento</label>    
            <select class="form-control bg-light">
                <option selected>Tipo de Documento</option>
                <option>Boleta</option>
                <option>Factura</option>
            </select>
        </div>
        <div class="col-4 mt-3">
            <label for="RUC" class="form-label">RUC</label>    
            <input type="text" id="RUC" placeholder="RUC" disbled="@(!EsEvaluacion)" 
                    class="form-control form-control-lg rounded-4 bg-light" >
        </div>
        <div class="col-4 mt-3">
            <label for="RazonSocial" class="form-label">Razón Social</label>    
            <input type="text" id="RazonSocial" placeholder="Razón Social" disbled="@(!EsEvaluacion)" 
                    class="form-control form-control-lg rounded-4 bg-light" >
        </div>
        <div class="col-4 mt-3">
            <label for="NumeroSerial" class="form-label">Número Serial</label>    
            <input type="text" id="NumeroSerial" placeholder="Número Serial" disbled="@(!EsEvaluacion)"
                    class="form-control form-control-lg rounded-4 bg-light" >
        </div>
        <div class="col-4 mt-3">
            <label for="FechaDeEmision" class="form-label">Fecha de Emisión</label>    
            <input type="date" id="FechaDeEmision" placeholder="Fecha de Emisión" disbled="@(!EsEvaluacion)"
                    class="form-control form-control-lg rounded-4 bg-light" >
        </div>
        <div class="col-4 mt-3">
            <label for="Total" class="form-label">Total*</label>    
            <input type="text" id="Total" placeholder=" @SimboloMoneda 0.00" disbled="@(!EsEvaluacion)"
                    class="form-control form-control-lg rounded-4 bg-light" >
        </div>
        <div class="col-2 mt-3 d-flex flex-column align-items-start">
            <label for="Estado" class="form-label">Estado</label>    
            <span class="badge bg-warning-subtle text-warning-emphasis rounded-pill" style="font-size: 1rem;">
                Pendiente
            </span>
        </div>
        <div class="col-10 mt-3">
            <label for="Comentario" class="form-label">Comentario</label>    
            <input readonly type="text" id="Comentario" placeholder="Por Evaluar" disbled="@(EsEvaluacion)"
                    class="form-control form-control-lg rounded-4 bg-light">
        </div>
    </div>

    <div class="d-flex justify-content-end gap-3 mt-3">
        @if (EsCreacion || EsAsociacion)
        {
            <button type="button" class="btn btn-primary align-self-start mt-3"
                            @onclick="MostrarItemsComprobante">
                
                Registrar Comprobante
    
            </button>
            <button type="button" class="btn btn-outline-primary align-self-start mt-3"
                            @onclick="MostrarItemsComprobante">
                Guardar Borrador
            </button>
            <button type="button" class="btn btn-outline-danger align-self-start mt-3"
                            @onclick="MostrarItemsComprobante">
                Cancelar
            </button>
        }
        else if (EsEvaluacion)
        {
            <button type="button" class="btn btn-outline-success align-self-start mt-3"
                            @onclick="MostrarItemsComprobante">
                Aprobar
            </button>
            <button type="button" class="btn btn-outline-warning align-self-start mt-3"
                            @onclick="MostrarItemsComprobante">
                Observar
            </button>
            <button type="button" class="btn btn-outline-info align-self-start mt-3"
                @onclick="MostrarItemsComprobante">
                Volver
            </button>
            <button type="button" class="btn btn-outline-danger align-self-start mt-3"
                            @onclick="MostrarItemsComprobante">
                Rechazar
            </button>
        }
        else
        {
            <button type="button" class="btn btn-outline-info align-self-start mt-3"
                            @onclick="MostrarItemsComprobante">
                Volver
            </button>
            <button type="button" class="btn btn-outline-danger align-self-start mt-3"
                            @onclick="MostrarItemsComprobante">
                Eliminar
            </button>
        }
    </div>
</div>    

@code {
    [Parameter]
    public bool EsCreacion { get; set;}
    [Parameter]
    public bool EsEvaluacion { get; set;}
    [Parameter]
    public bool EsAsociacion { get; set;}
    private string SimboloMoneda = "S/.";
    public void MostrarItemsComprobante()
    {
        Navigation.NavigateTo("/Comprobantes de Pago");
    }
}
